@model Arena42.Models.DTO.TournamentResult
@{
    Layout = null;
}

<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title></title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
</head>
<body style="background: linear-gradient(0.25turn, #ff9c00, #ff0000);padding:5%;">
    <span>
        <span style="font-size:x-large;color:#FFFFFF;">
            @Model.Name
        </span>
        <br />
        <br />
    </span>
    <div style="font-size:large;">
        @foreach (var res in Model.MarketResults)
        {
            <div class="row" style="padding-bottom:20px;">
                <span style="font-size:larger;color:#FFFFFF;">
                    @res.Name
                    <br />
                </span>
                @foreach (var selection in res.Selections)
                {
                    if (selection.Id == res.WinningSelectionId)
                    {
                        <div class="col-sm-2">
                            <span>Winner</span>
                            <span style="color:green;">@selection.Name</span><br/>
                            <img src="@selection.ImgUrl" style="max-height:50px;" />
                        </div>
                    }
                    else
                    {
                        <div class="col-sm-2">
                            <span style="color:black;">@selection.Name</span><br />
                            <img src="@selection.ImgUrl" style="max-height:50px;" />
                        </div>
                    }
                }
            </div>
        }
    <div />
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
</body>
</html>
